<!DOCTYPE html>
<html>
<body>
{% for only_cv in cv %}
{% if only_cv['username'] == session['username'] %}
<h2>Name:</h2> <h3>{{ only_cv['name'] }} </h3>
<h2>Age:</h2> <h3>{{ only_cv['age'] }}</h3>
<h2>Education:</h2> <h3> {{ only_cv['education'] }} </h3>
<h2>Work experience:</h2> <h3> {{ only_cv['work_experience'] }} </h3>
<h2>Skills:</h2> <h3> {{ only_cv['skills'] }} </h3>
<h2>Email:</h2> <h3> {{ only_cv['email'] }} </h3>
<h2>Telephone:</h2> <h3> {{ only_cv['telephone'] }} </h3>
{% else %}
<h2>У вас нет прав просматривать эту страницу</h2>
{% endif %}
<br>
<a href="/cv_download_{{ only_cv['id'] }}">Скачать резюме</a>
{% endfor %}
</body>
</html>
